remote-sensing-segmentation/checkpoints/
remote-sensing-segmentation/external/
remote-sensing-segmentation/datasets/
remote-sensing-segmentation/runs/swin_unet_baseline
remote-sensing-segmentation/outputs